a{
  text-decoration: none;
}
body{
    text-align: center;
    background-color: #fffdb9;
  }
  header>img{
      position: absolute;
      left:20px;
      top:10px;
  }
  header>h1{
      position: relative;
  }
  section{
    text-align: center;
  }
.brend{
    display: block;
  justify-self: center;
}
  .clothes{
    width: 300px;
    height: 300px;
    background-color: #ffdb77;
    margin: 10px;
    border-radius: 5px;
  }
  .clothes>img{
    margin: 5px;
  }
  nav>ul>li>a:hover{
    transform: slace(2);
  }
  .button{
    background-color: #ffcf4b;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
  .button:hover{
    background-color: #ffc524;
  }
  .button:active{
    background-color: #ffbb00;
  }

  footer{
   background-color: rgb(184, 138, 11);
   width: 100%;
   text-align: center;
   border-radius: 5px;
  }
img{
  border-radius: 5px;
}
html {
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
li{margin: 10px;
    width: 100%;  
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffdb77;
    color:black;  
  }
a{
    text-decoration: none;
    color:black;
  }
  @media(min-width: 768px){
    .tablet{
        display: flex;
    }
     .phone{
    margin-left: 60%;
  }
    ul{
        background-color: #ffdb77;
        border-radius: 10px;
        flex-direction: row;
        width: 100%;
    }
  }
  @media(min-width: 1024px){
    .dectop{
        display: flex;
    }
     .phone{
    margin-left: 70%;
  }
    ul{
        margin-left: 15%;
        background-color: #ffdb77;
        border-radius: 10px;
        flex-direction: row;
        width: 70%;
    }
  }
  
